{% extends "base.html" %}

{% block title %}Create CSV{% endblock %}
<head><h1>Create CSV</h1></head>
{% block content %}
<body>
<div class='content'>

<h1>Create CSV</h1>
{% for MapPrint in MapPrints %}
{% if MapPrint.Reason_id != 0 %}
<div id='list{{ MapPrint.Reason_id }}' class='toggle' style='display: block;'>
  <div class="row">
<p>The Object of Art is {{MapPrint.Objects_Name}}, {{MapPrint.Objects_Name.Object_Description}}, {{MapPrint.Places_Name}}, {{MapPrint.Places_Name.Latitude}}, {{MapPrint.Places_Name.Longitude}}</p>
</div>
</div>
{% endif %}
{% endfor %}

</div>
</body>
{% endblock %}